*{
 background-color:orangered;
}
h1,h2{
    font-style: italic ;
    text-align: center;
    text-shadow: darkblue;
    font-size: xx-large;
}
.video{
    text-align: center;
}

.botones{
    
    text-align: center;
}
.botones2{
    position: fixed;
    
}
.presentacion{
    text-align: center;
}