*{
 background-color:orangered;
}
h1,h2,h3{
    font-style: italic ;
    text-align: center;
    text-shadow: darkblue;
    font-size: xx-large;
}
.video{
    text-align: center;
}

.botones{ 

    text-align: center;
}
.botones2{
    
    position: fixed;
    }
.centrdo{
    text-align: center;
}
.presentacion{
    text-align: center;
}
.propiedades{
    position: relative;
    top: 20;
    left: 20;
    bottom: 0;
    right: 0;
    margin: auto;
}
#propiedadChia{
    display: none;
}

button{
    padding: 0; border: none; background: none;
}
#propiedadLino{
    display: none;
}
.carrusel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 420%;
    height: 5200px;
    background-size: cover;
}